* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  /* position: sticky; */
  text-align: center;
  display: flex;
  background-image: url(../imagenes/fondopokemon2.png);
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: ridge rgba(163, 183, 202, 0.664) 6px;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url(../imagenes/fondo4.jpg);
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 30px;
  margin-left: 110px;
}

.grid div {
  border: 1px solid lightgrey;
  height: 52px;
  width: 52px;
}

h1 {
  background-attachment: fixed;
  background-color: rgba(95, 114, 139, 0.514);
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid div.shooter {
  background-image: url('../imagenes/shooter.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.grid div.alien {
  background-image: url('../imagenes/alien3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.alien:nth-of-type(odd) {
  background-image: url('../imagenes/alien2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.alien:nth-of-type(even) {
  background-image: url('../imagenes/alien1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.laser {
  background-image: url('../imagenes/laser.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
}
