* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  text-align: center;
  display: flex;
  background-image: url(../imagenes/wp2860864-pokemon-gameboy-wallpaper.gif);
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: ridge rgba(193, 194, 188, 0.664) 6px;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url(../imagenes/fondo2.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: 110px;
}
.grid div {
  border: 1px solid lightgrey;
  height: 52px;
  width: 52px;
}

h1 {
  background-attachment: fixed;
  background-color: rgba(245, 245, 220, 0.466);
  font-variant: small-caps;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
